body{
  font-family:helvetica, arial, sans-serif;
  color:#333;
  margin:20px;
  background:#666;
}

#wrapper{
  width:90%;
  margin:0px auto;
}

header{
  background-color:#84c754;
  color:#666;
  padding:20px;
  border-radius:5px 5px 0px 0px;
}

header p{
  margin:0px;
  font-style:italic;
  text-transform: lowercase;
}

header h1{
  color:#ffffff;
}

h1, h2{
  margin:0px;
  color:#84c754;
}

ul{
  list-style: none;
  margin:0px;
  padding:0px;
}

li{
  float:left;
  width:calc(100% / 6 - 20px);
  padding:10px;
  background:#aaa;
  color:#fff;
  text-align: center;
  cursor:pointer;
}

li:hover{
  background: #333;
}

main{
  clear:both;
  padding:20px;
  background:#fff;
}

a{
  color:#84c754;
}

a:hover{
  color:#ff0000;
}

strong{
  color:#000000;
}

footer{
  background: #fff;
  padding:0px 10px 10px;
  text-align:center;
  font-size:0.8em;
  border-radius:0px 0px 5px 5px;
}
